.project-container {
  gap: 1em;
}

@media (min-width: 768px) {
  .project-container {
    gap: 2em;
  }
}

.project-slide {
  padding: 0;
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .project-slide {
    flex: 0 0 calc(50% - 1em);
    gap: 2em;
  }
}

.project-box {
  background-color: var(--ci-light-grey);
  overflow: hidden;
}

.project-img-container {
  overflow: hidden;
}

.project-img {
  width: 100%;
  vertical-align: middle;
  aspect-ratio: 16/9;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s;
}

.project-img-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
  padding: 2em;
  font-size: 1.25em;
  background-color: var(--ci-light-grey);
}

.project-box:hover .project-img {
  transform: scale(1.1);
}

.project-title {
  color: var(--ci-white);
  margin-bottom: 0;
  font-size: 1.25em;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.75em 1em;
}

.project-links {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.project-link {
  vertical-align: middle;
  font-size: 1.15em;
}

.project-link-icon {
  fill: white;
}

.project-link:hover .project-link-icon {
  fill: var(--ci-green);
}
